body{
    background-image: url(background.jpg);
}

.banner{
    padding-top: 15px;
    padding-left: 60px;
    background-image: url(USA.jfif);
    background-size: cover;
    color: seashell;
    border-radius: 7px;
    
}
#face{
    height: 300px;
    width: 300px;
    border-radius: 320px;
    border-style: solid;
    border-color: seashell;
    border-width: thin;
}
#welcome{
    height: 300px;
    border-style: solid;
    border-color: seashell;
    border-width: thin;
    border-radius: 7px;
}
h2{
    padding-left: 110px;
    font-size: xx-large;
    background-image: url(USA.jfif);
    background-size: 100%;
    color: seashell;
    border-radius: 7px;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.navbar li{
    padding-left: 30px;
}
.navbar{
    background-image: url(USA.jfif);
    background-size: 100%;
    color: white;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}