body{
    background-color: #324cbd;
    width: 100%;
}

.header{
    padding-left: 25%;
    padding: 30px;
    color: #ffffff;
    margin-top: 1px;
    opacity: .85;
}

article{
    padding-left: 25%;
    padding: 30px;
    color: #ffffff;
    margin: 50px;
    opacity: .85;
    border-radius: 15px;
}
.aboutImages{
    width: 100%;
    border: 2px solid white;
    margin: 0px;
    padding: 0px;
}
figcaption{
    border: 2px solid white;
    margin: 0px;
    padding: 0px;
}

.tile-container{
    margin-top: 20px;
    display: inline-block;
    
}

#skills-tiles{
    opacity: .98;
    padding-right: 0px; 
    padding-left: 110px;
}

.skill-tile-individual{
    height: 160px;
    margin: 0px;
    padding: 0;
    border-radius: 100px;
    border-style: solid;
    border-width: medium;
    border-color: #000000;
}

#gallery img{
    height: 300px;
}

#gallery{
    color: black;
}

.resume-header{
    color: #ffffff;
}
button{
    margin: 5px;
}

#headshot{
    height: 300px;
    border-radius: 150px;
    margin-left: 40%;
    border-style: solid;
    border-width: medium;
    border-color: #000000;
    margin-bottom: 20px;
}

.background-tint {
    background-color: rgba(7, 23, 54, 0.8); /* Tint color */
    background-blend-mode: multiply;
}
  



@media only screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    
    .header{
        padding-left: 25%;
        padding: 30px;
        margin: 0px;
        opacity: .85;
        width: 100%;
    }
    
    article{
        padding-left: 0%;
        padding: 30px;
        margin: 15px;
        opacity: .85;
        border-radius: 15px;
        font-size: 2rem;
    }
    
    .tile-container{
        margin-top: 20px;
        display: inline-block;
        
    }

    #skills-tiles{
        opacity: .98;
        padding: 0px;
        text-align: center; 
    }
    
    .skill-tile-individual{
        height: 160px;
        margin: 0px;
        padding: 0;
        border-radius: 100px;
        border-style: solid;
        border-width: medium;
        border-color: #000000;
    }
    
    #gallery img{
        width: 100%;
        height: auto;
    }
    
    #gallery{
        color: black;
    }
    
    .resume-header{
        color: #8b87c0;
    }
    button{
        margin: 5px;
    }
    
    #headshot{
        height: 300px;
        border-radius: 150px;
        margin: 15px;
        border-style: solid;
        border-width: medium;
        border-color: #000000;
        margin-bottom: 20px;
    }
    .background-tint {
        background-color: rgba(7, 23, 54, 0.8); /* Tint color */
        background-blend-mode: multiply;
    }

  }
  